#p-personal {
    z-index: 1;
}

.mdc-dialog .uv-mdc-warnDialog.mdc-dialog__surface {
    height: 95vh;
    width: 45vw;
    min-width: 600px;
    max-width: 100vw;
}

.uv-mdc-warnDialog-reason {
    margin: 16px 0;
}

.uv-mdc-warnDialog-reason .uv-mdc-warnDialog-reason--dropdown {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.uv-mdc-warnDialog-reason .mdc-select {
    width: calc(100% - 56px); /* IconButton width + 8px margin */
}

.uv-mdc-warnDialog-reason .mdc-select__menu {
    max-height: 40vh !important;
}

.uv-mdc-warnDialog-reason .uv-mdc-warnDialog-reason--search {
    margin-left: 8px;
}

.uv-mdc-warnDialog-reason
    .uv-mdc-warnDialog-reason--levels
    .mdc-form-field
    > span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uv-mdc-warnDialog-reason
    .uv-mdc-warnDialog-reason--levels
    .mdc-form-field
    > span
    > label {
    display: inline-flex;
}

.uv-mdc-warnDialog-reason .uv-mdc-warnDialog-reason--levels table,
.uv-mdc-warnDialog-reason .uv-mdc-warnDialog-reason--levels tr {
    width: 100%;
}

.uv-mdc-warnDialog-reason .uv-mdc-warnDialog-reason--levels table {
    height: 46px;
    border-spacing: 8px;
}

.uv-mdc-warnDialog-reason
    .uv-mdc-warnDialog-reason--levels
    table
    td:first-child {
    margin-top: 16px;
    width: 30%;
    border-right: 1px solid gray;
}

.uv-mdc-warnDialog-reason
    .mdc-text-field--filled.mdc-ripple-upgraded--background-focused
    .mdc-text-field__ripple::before {
    opacity: 0;
}

.uv-mdc-warnDialog-page {
    display: flex;
    align-items: center;
}

.uv-mdc-warnDialog-page .uv-mdc-warnDialog-page--textField {
    flex: 1;
}

.uv-mdc-warnDialog-page .uv-mdc-warnDialog-page--recent {
    margin-left: 8px;
    flex: initial;
}

.uv-mdc-warnDialog-page.uv-warnDialog-hideRecentPages
    .uv-mdc-warnDialog-page--recent {
    display: none;
}

.uv-mdc-warnDialog-reason-note {
    letter-spacing: initial;
    padding: 0 1em 0.5em;
}

.uv-mdc-warnDialog-xray {
    border-radius: 8px;
    border: 1px solid #aaa;

    box-sizing: border-box;
    min-width: 0;
    width: 100%;
}

.uv-mdc-warnDialog-xray .uv-mdc-warnDialog-xray--content {
    min-height: 60px;
    font-family: sans-serif;
    font-size: 0.95rem;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.5em;
    color: black;
    position: relative;
}

.uv-mdc-warnDialog-xray .uv-mdc-warnDialog-xray--content::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--mdc-theme-background);
    width: 100%;
    height: 100%;

    pointer-events: none;
    opacity: 0;

    transition: opacity 0.2s ease;
}

.uv-mdc-warnDialog-xray.uv-mdc-warnDialog-xray--loading
    .uv-mdc-warnDialog-xray--content::after {
    opacity: 0.5;
}

.uv-mdc-warnDialog-xray .uv-mdc-warnDialog-xray--content p {
    margin: 0;
}

/* Revert confirmation dialog */
.uv-mdc-riskyWarning {
    color: #f33;
}

/* Warning search dialog */

.mdc-dialog .uv-mdc-warnSearchDialog.mdc-dialog__surface {
    max-width: unset;
}

.mdc-dialog .uv-mdc-warnSearchDialog .mdc-dialog__content {
    padding: 0;
    overflow: hidden;
}

.mdc-dialog .uv-mdc-warnSearchDialog .uv-mdc-warnSearchDialog--searchBar {
    box-sizing: border-box;
    height: 56px;
    padding: 0 16px;
}
.mdc-dialog .uv-mdc-warnSearchDialog .uv-mdc-warnSearchDialog--warnings {
    /* Fixed to remove chin */
    max-height: calc(100% - 72px);
    margin: 16px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mdc-dialog
    .uv-mdc-warnSearchDialog
    .uv-mdc-warnSearchDialog--warnings
    .uv-warningCategory {
    flex: initial;
    width: 100%;
    border-bottom: 1px solid #bbb;
    margin: 8px 8px 4px 8px;

    color: black;
    font-weight: bold;
}

.mdc-dialog .uv-mdc-warnSearchDialog .uv-mdc-warnSearchDialog-warning {
    padding: 8px;
    width: calc(50% - 16px);
    margin: 4px 8px;
    flex: initial;

    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease;
}

.mdc-dialog
    .uv-mdc-warnSearchDialog
    .uv-mdc-warnSearchDialog--searchBar.uv-mdc-warnSearchDialog--searchBar--focused
    + .uv-mdc-warnSearchDialog--warnings
    .uv-mdc-warnSearchDialog-warning--top {
    /* Card outline */
    box-shadow: inset 0 0 0 2px var(--mdc-theme-primary);
}

.mdc-dialog
    .uv-mdc-warnSearchDialog
    .uv-mdc-warnSearchDialog--searchBar:not(.uv-mdc-warnSearchDialog--searchBar--focused)
    + .uv-mdc-warnSearchDialog--warnings
    .uv-mdc-warnDialog-searchDialog-instantSelect {
    display: none;
}

.mdc-dialog .uv-mdc-warnSearchDialog .uv-mdc-warnSearchDialog-warning table {
    border-collapse: collapse;
}

.mdc-dialog .uv-mdc-warnSearchDialog .uv-warnSearch-hidden {
    display: none;
}

.mdc-dialog
    .uv-mdc-warnSearchDialog
    .uv-mdc-warnSearchDialog-warning.uv-warning-selected {
    background-color: rgba(0, 0, 0, 0.15);
    cursor: unset;
}

/* Press ENTER to select screen */
.mdc-dialog
    .uv-mdc-warnSearchDialog
    .uv-mdc-warnDialog-searchDialog-instantSelect {
    font-size: small;
    line-height: 2.25em;
}
